# All dotfiles unless whitelisted
.*
!.gitignore
!.prettierrc

# Logs
*.log

# Generated output
generated/
build/

# Generated mappings and subgraph manifest
subgraph.yaml
src/mappings/feeds/*.ts

# Dependency directories
node_modules/
